#case-studies {
    width: 100%;
    padding: clamp(4rem, 6.5vw, 6.5rem) 1rem;

    &.used {
        padding: clamp(8rem, 10vw, 10rem) 1rem 0 1rem;
    }

    h1.heading {
        display: flex;
        justify-content: space-between;
        font-size: clamp(3rem, 5.5vw, 5.5rem);
        font-weight: 900;
        letter-spacing: -0.1rem;
        margin-bottom: clamp(3rem, 5vw, 5rem);
        text-transform: uppercase;
        align-items: center;
        gap: 1rem;

        button {
            width: clamp(10rem, 14vw, 14rem);
            height: clamp(3rem, 4.4vw, 4.4rem);
            border-radius: clamp(1rem, 2vw, 2rem);
            background: #F55D2D;
            color: #fff;
            display: flex;
            gap: clamp(0.8rem, 1.2vw, 1.2rem);
            justify-content: center;
            align-items: center;
            font-size: clamp(1rem, 1.2vw, 1.2rem);
            text-transform: uppercase;
            border: none;
            padding: 1rem;

            span {
                font-weight: 200;
            }
        }
    }

    .studies-wrapper {
        width: 100%;
        max-width: 125rem;
        margin: 0 auto;

        .studies {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: clamp(2rem, 3vw, 3rem);
            place-items: center;

            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }

        .box {
            max-width: 38rem;
            height: clamp(28rem, 35vw, 35rem);
            display: flex;
            flex-direction: column;
            gap: clamp(2.5rem, 3.5vw, 3.5rem);

            figure {
                width: 100%;
                height: 55%;
                position: relative;

                &:hover img {
                    transform: translateY(-0.6rem);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: clamp(1rem, 2vw, 2rem);
                    transition: all ease 0.3s;
                }

                figcaption.tag {
                    position: absolute;
                    bottom: clamp(1rem, 1.5vw, 1.5rem);
                    left: clamp(0.8rem, 1rem, 1rem);
                    color: #fff;
                    background: #0000009c;
                    padding: clamp(0.3rem, 0.4vw, 0.4rem) clamp(1rem, 1.5vw, 1.5rem);
                    text-transform: uppercase;
                    font-weight: 600;
                    border-radius: clamp(2.5rem, 5vw, 5rem);
                    font-family: 'red hat mono';
                    transition: all ease 0.3s;

                    &:hover {
                        background: #000;
                    }
                }
            }

            .title {
                display: flex;
                position: relative;
                flex-direction: column;
                gap: clamp(0.8rem, 1rem, 1rem);
                transition: all ease 0.3s;

                &:hover {
                    transform: translateY(0.6rem);

                    h1,
                    span {
                        color: #F55D2D;
                    }
                }

                span {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: clamp(3rem, 4vw, 4rem);
                    font-weight: 300;
                    transition: all ease 0.1s;
                }

                h5 {
                    text-transform: uppercase;
                    font-family: 'red hat mono';
                    color: grey;
                    font-weight: 600;
                }

                h1 {
                    font-size: clamp(2.5rem, 3.5vw, 3.5rem);
                    font-weight: 900;
                    transition: all ease 0.3s;
                    max-width: 85%;
                }
            }
        }
    }
}