#client-reviews {
    width: 100%;

    #client-review-wrapper {
        width: 100%;
        max-width: 129rem;
        margin: 0 auto;
        padding: 9rem 2rem 2rem 3rem;
        display: flex;

        .sticky-header-wrapper {
            max-width: 29%;
        }

        .sticky-header {
            position: sticky;
            top: 5rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding-right: 3rem;

            h1 {
                font-size: 5.4rem;
                line-height: 5.5rem;
                font-weight: 1000;
            }

            p {
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 2rem;
                color: #777;
            }

            button {
                width: 20rem;
                color: #fff;
                height: 4.2rem;
                border-radius: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.4rem;
                background: #F55D2D;
                border: none;
                font-size: 1.16rem;
                text-transform: uppercase;
                font-weight: 400;
                margin-top: 1.5rem;
                word-spacing: 0.05rem;
                letter-spacing: 0.05rem;

                span {
                    font-size: 1.8rem;
                    font-weight: 300;
                    transform: translateY(0.1rem);
                }
            }
        }

        .content {
            display: flex;
            justify-content: flex-end;
            gap: 4.2rem;
            width: 71%;
            padding-right: 2.8rem;

            .column {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                &:nth-child(1) {
                    transform: translateY(4rem);
                }
            }

            .review {
                background-color: #F0F0F0;
                border-radius: 2rem;
                padding: 5rem 2rem 4rem 2rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                width: 32.6rem;
                justify-content: space-between;

                .text p {
                    font-size: 1.4rem;
                    line-height: 2.5rem;
                }


                .info {
                    display: flex;
                    align-items: center;
                    gap: 2.5rem;

                    .image {
                        width: 6rem;
                        height: 6rem;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .name {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        .rating {
                            display: flex;
                            align-items: center;

                            i {
                                color: #F55D2D;
                                font-size: 1.4rem;
                                margin-right: 0.2rem;
                            }
                        }

                        h1 {
                            font-size: 1.2rem;
                            font-weight: 700;
                        }

                        p {
                            font-size: 1rem;
                            color: #777;
                        }
                    }
                }
            }
        }
    }
}