#lets-discuss-your-project-wrapper {
    display: flex;
    gap: 9rem;
    margin: 0 auto;
    max-width: 124rem;
    height: 51rem;
    padding: 6rem 1rem 8rem 1rem;

    article {
        max-width: 36rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1 {
            font-size: 4rem;
            font-weight: 1000;
        }

        p {
            font-size: 1.8rem;
            color: #666;
        }
    }

    form {
        width: 54.5%;
        padding-top: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h1 {
            font-size: 4.4rem;
            line-height: 5rem;
            font-weight: 1000;
            width: 60%;
            letter-spacing: -0.15rem;
        }

        input,
        select,
        textarea {
            outline: none;
            border: none;
            padding: 1.5rem;
            border-radius: 2rem;
            font-size: 1.2rem;
            background: #eee;
            transition: border-color 0.3s ease;

            &:hover {
                border-color: #333;
            }
        }

        select {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23aaa'><polygon points='0,0 100,0 50,50'/></svg>");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 0.7rem;
            padding-right: 3rem;

            option {
                color: #000;
            }
        }

        textarea {
            resize: vertical;
        }

        .inline {
            display: flex;
            align-items: center;
            gap: 2.5rem;

            input,
            select {
                width: 100%;
            }
        }

        .checkbox {
            display: flex;
            align-items: center;
            gap: 0.6rem;
            width: fit-content;

            /* Hide the default checkbox */
            .container input {
                display: none;
            }

            .container {
                display: block;
                position: relative;
                cursor: pointer;
                font-size: 20px;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
            }

            /* Create a custom checkbox */
            .checkmark {
                position: relative;
                top: 0;
                left: 0;
                height: 1.3em;
                width: 1.3em;
                border-radius: 0.25em;
                transition: all 0.25s;
                scale: 0.75;
            }

            /* When the checkbox is checked, add a blue background */
            .container input:checked~.checkmark {
                background-color: #f60;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                transform: rotate(0deg);
                border: 0.1em solid #000;
                left: 0;
                top: 0;
                width: 1.05em;
                height: 1.05em;
                border-radius: 0.25em;
                transition: all 0.25s, border-width 0.1s;
            }

            /* Show the checkmark when checked */
            .container input:checked~.checkmark:after {
                left: 0.45em;
                top: 0.25em;
                width: 0.25em;
                height: 0.5em;
                border-color: #fff0 white white #fff0;
                border-width: 0 0.15em 0.15em 0;
                border-radius: 0em;
                transform: rotate(45deg);
            }
        }

        input[type="submit"] {
            background-color: #F55E2F;
            color: #fff;
            cursor: pointer;
            width: 16rem;
            height: 4.3rem;
            border: none;
            border-radius: 1.7rem;
            font-size: 1.15rem;
            transition: all ease 0.2s;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }
}