@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700&display=swap');

#technology-stack {
    width: 100%;

    #technology-stack-wrapper {
        width: 100%;
        max-width: 125rem;
        margin: 0 auto;
        padding: clamp(1rem, 2vw, 2rem);
        padding-top: clamp(4rem, 8vw, 8rem);
        display: flex;
        flex-direction: column;
        gap: clamp(3rem, 5.3vw, 5.3rem);

        .main-heading {
            font-size: clamp(3rem, 5vw, 5.4rem);
            font-weight: 1000;
            text-transform: uppercase;
        }

        .content {
            width: 100%;
            border-top: 0.1rem solid #ddd;
            display: flex;

            @media (max-width: 768px) {
                flex-direction: column;
            }
        }
    }
}

.technology-stack {
    .features-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }

    .features-list {
        width: 100%;
        border-right: none;
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 1.5vw, 1.5rem);
        padding-top: clamp(2rem, 4.5vw, 4.5rem);

        button.feature {
            width: 100%;
            padding: 0 1rem;
            border: none;
            cursor: pointer;
            background: #fff;
            border-left: 0.3rem solid transparent;
            display: flex;
            text-align: left;
            gap: 1.6rem;
            padding-left: 1.5rem;

            h3 {
                font-size: 1.2rem;
                line-height: 2.5rem;
                color: grey;
            }

            h1 {
                font-size: clamp(1.5rem, 2.5vw, 2.5rem);
                font-weight: 600;
            }
        }

        .feature.active,
        .feature:hover {
            border-color: #F55D2D;

            h1 {
                color: #F55D2D;
            }
        }
    }

    .features-content {
        width: 100%;
        position: relative;
        transition: all ease 0.3s;
        min-height: 45rem;

        @media (min-width: 383px) {
            min-height: 70rem;            
        }
    }

    .slide {
        padding: clamp(3rem, 8vw, 8rem) clamp(2rem, 6vw, 6rem) 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        gap: clamp(3rem, 5vw, 5.5rem);
        overflow: hidden;
        transition: opacity 0.5s ease-in-out;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        .part {
            .heading {
                font-size: clamp(2rem, 3.5vw, 3.5rem);
                font-weight: 1000;
                margin-bottom: 1rem;
            }

            .blocks {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(clamp(12rem, 20vw, 20rem), 1fr));
                padding: 2rem 0 0 1rem;
                gap: clamp(1rem, 1.5vw, 1.5rem);

                .block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: clamp(5rem, 7vw, 6.5rem);
                    text-align: center;
                    background: black;
                    padding: clamp(0.5rem, 0.7vw, 0.7rem) clamp(1rem, 2vw, 1.5rem);
                    border-radius: clamp(1rem, 1.5vw, 1rem);
                    color: white;

                    img {
                        max-width: clamp(4rem, 5.2vw, 5.2rem);
                    }

                    .name {
                        font-size: clamp(0.8rem, 1.2vw, 1.4rem);
                        font-weight: 350;
                        font-family: 'Red Hat Mono';
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

/* Media queries for adjusting layout on smaller screens */
@media (min-width: 768px) {
    .technology-stack .features-wrapper {
        flex-direction: row;
    }

    .technology-stack .features-list {
        width: 23.4%;
        border-right: 0.1rem solid #ddd;
    }

    .technology-stack .features-content {
        min-height: 60rem;
    }
}