@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

#lets-discuss {
    width: 100%;

    #lets-discuss-wrapper {
        width: 100%;
        max-width: 126rem;
        margin: 0 auto;
        padding: 8rem 1.5rem;

        .head {
            width: 100%;
            padding-bottom: 4rem;

            h1 {
                font-size: 5.5rem;
                font-weight: 1000;
                text-transform: uppercase;
            }
        }

        .content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-top: 0.1rem solid #dfdfdf;

            .left {
                max-width: 30.7rem;
                border-right: 0.1rem solid #dfdfdf;
                padding: 4rem 4rem 0 0;

                .wrapper-left {
                    position: sticky;
                    top: 4rem;
                }

                article {
                    width: 100%;
                    padding-bottom: 3rem;

                    p {
                        font-size: 1.85rem;
                        font-weight: 300;
                    }
                }

                form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;

                    input {
                        width: 100%;
                        padding: 1.5rem;
                        border-radius: 2rem;
                        border: none;
                        border-bottom: 0.1rem solid #ccc;
                        background: #eee;
                        font-size: 1.2rem;
                        color: #fff;
                        transition: border-color 0.3s ease;

                        &:hover {
                            border-color: #333;
                        }
                    }

                    input[type="submit"] {
                        background-color: #F55E2F;
                        color: #fff;
                        cursor: pointer;
                        height: 4.3rem;
                        border: none;
                        border-radius: 1.7rem;
                        font-size: 1.15rem;
                        transition: all ease 0.2s;

                        &:hover {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
            }

            .right {
                max-width: calc(100% - 30.7rem);
                padding: 4rem 2rem 0 5rem;
                display: flex;
                gap: 3rem;

                figure {
                    width: 30rem;
                    height: 30rem;
                    overflow: hidden;
                    border-radius: 2rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        scale: 1.05;
                    }
                }
            }
        }
    }
}

/* 

.box {
                            display: flex;
                            flex-direction: column;
                            border-top: 0.3rem solid #F55D2D;
                            padding-top: 1rem;
                            height: 12rem;
                            transition: all ease 0.5s;
                            
                            h1 {
                                display: flex;
                                justify-content: space-between;
                                font-size: 5.7rem;
                                
                                span {
                                    transition: all ease 0.2s;
                                    font-size: 5rem;
                                    font-weight: 200;
                                }
                            }

                            p {
                                font-size: 1.1rem;
                                color: #888;
                            }

                            &:hover {
                                transform: translateY(-0.4rem);

                                span {
                                    color: #F55D2D;
                                }
                            }
                        }
                            
*/