#landing-services {
    width: 100%;
    height: 58rem;
    background: #9F9F9F;
    position: relative;

    figure {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        filter: brightness(0.3);
        background: #00000060;

        img {
            width: 100%;
            margin-top: -13rem;
            pointer-events: none;
        }
    }

    #landing-content {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50.2%);
        z-index: 1;
        width: 92rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        &>* {
            color: #fff;
        }

        article {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            max-width: 80%;

            h1 {
                font-size: 6.3rem;
                line-height: 6.1rem;
                font-weight: 900;
            }

            p {
                font-size: 1.83rem;
            }
        }

        .lets-discuss {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #F55D2D;
            height: 4.5rem;
            width: 25rem;
            border-radius: 2rem;
            gap: 1rem;
            transition: all ease 0.3s;
            transform: translate(0.5rem, -0.1rem);
            transition: all ease 0.3s;

            &:hover {
                background: #000;
            }

            span {
                font-size: 2rem;
                font-weight: 200;
            }

            p {
                text-transform: uppercase;
                font-size: 1.1rem;
                max-width: 80%;
                text-align: center;
                font-weight: 600;
            }
        }
    }
}