#industries {
    width: 100%;
    height: clamp(52rem, 62rem, 75rem);
    background: #181818;
    border-radius: 2rem;
    padding: clamp(4rem, 6.5rem, 10rem);
    padding-top: clamp(8rem, 12rem, 15rem);
    height: auto;

    * {
        color: #fff;
    }

    #industries-wrapper {
        width: 100%;
        max-width: 129rem;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: clamp(3rem, 4.5rem, 6rem);

        h1 {
            font-size: clamp(3rem, 3.9vw, 7rem);
            text-transform: uppercase;
        }

        .lower-part {
            display: flex;
            border-top: 0.1rem solid #444;

            article.left {
                min-width: clamp(0rem, 23vw, 40rem) !important;
                border-right: 0.1rem solid #444;
                font-size: clamp(1rem, 1.3rem, 1.6rem);
                padding: clamp(2rem, 5rem, 7rem) 3rem 3rem 1rem;
                display: flex;
                flex-direction: column;
                gap: clamp(2rem, 2.5rem, 3rem);
                line-height: 2rem;

                @media (max-width: 1260px) {
                    border: none !important;
                }

                button {
                    width: clamp(12rem, 17rem, 22rem);
                    height: clamp(3.5rem, 4.5rem, 5.5rem);
                    border-radius: 2rem;
                    background: #F55D2D;
                    display: flex;
                    gap: 1.2rem;
                    justify-content: center;
                    align-items: center;
                    font-size: clamp(1rem, 1.2rem, 1.4rem);
                    text-transform: uppercase;
                    border: none;

                    span {
                        font-weight: 200;
                    }
                }
            }

            .slider-wrapper {
                width: 82%;
                height: 100%;
                padding: 4.5rem 0 0 3.5rem;

                button {
                    display: none !important;
                }

                .slick-track {
                    display: flex;
                    gap: clamp(1rem, 2rem, 3rem);
                }

                .slider-item {
                    height: clamp(20rem, 26rem, 32rem);
                    display: flex;
                    flex-direction: column;
                    border-radius: 2rem;
                    background: #fff;
                    overflow: hidden;

                    figure {
                        width: 100%;
                        height: 56%;
                        border-radius: 1rem;
                        background: #ddd;
                        overflow: hidden;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        figcaption {
                            position: absolute;
                            bottom: 1.5rem;
                            left: 1rem;
                            color: #fff;
                            font-size: clamp(1.5rem, 2.5rem, 3.5rem);
                            font-weight: 600;
                        }

                    }

                    .slider-item-article {
                        color: #444;
                        padding: 2rem;
                        font-size: clamp(0.9rem, 1.05rem, 1.2rem);
                        line-height: 1.8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    #industries {
        padding: 6.5rem 2rem 6.5rem 2rem !important;
    }

    #industries-wrapper {
        gap: 3rem;

        .lower-part {
            flex-direction: column;

            article.left {
                width: 100%;
                padding: 3rem 1rem;
                font-size: 1.2rem;
                gap: 1.5rem;

                button {
                    width: 100%;
                    font-size: 1rem;
                    padding: 1.2rem;
                }
            }

            .slider-wrapper {
                width: 100% !important;
                padding: 0 !important;

                .slick-slider {
                    height: 100%;
                    width: 100%;
                }

                .slick-track {
                    gap: 1.5rem;
                }

                .slider-item {
                    height: auto;

                    figure {
                        height: 60%;
                    }
                }
            }
        }
    }
}